@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");
.App {
	font-family: "Nunito", sans-serif;
	display: grid;
}

Body {
	background-color: #cf6060;
}

.swoosh {
	position: absolute;
	background-color: #242024;
	width: 1400px;
	height: 4000px;
	transform-origin: -10px -10px;
	transform: skewX(-30deg) scaleX(1.2);
	z-index: -2;
}

.title {
	position: relative;
	z-index: 1;
	font-size: 150px;
	color: #cf6060;
	margin-left: 2%;
	margin-top: 1%;
}

.title2 {
	position: relative;
	z-index: 1;
	text-align: right;
	font-size: 160px;
	color: #242024;
	margin-right: 2%;
	margin-top: 5%;
	font-weight: 700;
}

#projects {
	display: flex;
	flex-wrap: wrap;
	margin-right: 20%;
	margin-top: -5%;
}

#block {
	text-align: right;
	margin-left: 50%;
	margin-right: 2%;
	font-size: 35px;
	margin-top: -5%;
}

img {
	index: 30;
	width: 500px;
	position: absolute;
	margin-left: 5%;
	margin-top: 150px;
}

#main:active {
	border-bottom: white 10px solid;
}

/* On screens that are 992px or less, set the background color to blue */
@media only screen and (max-width: 600px) {
	/* Body {
		background-color: blue;
	} */

	img {
		display: none;
	}

	.title {
		font-size: 90px;
		margin-bottom: -10px;
	}

	.swoosh {
		height: 3000px;
		width: 1000px;
	}

	.title2 {
		visibility: hidden;
		display: none;
	}

	#block {
		margin: 0px;
		text-align: center;
		font-size: 30px;
		margin-top: 90px;
		margin-left: 5px;
		margin-right: 5px;
	}

	#projects {
		margin-right: 10px;
		margin-left: 15px;
		margin-top: -5%;
	}
}

/* On screens that are 600px or less, set the background color to olive */
@media only screen and (max-width: 1024px) and (min-width: 600px) {
	/* Body {
		background-color: olive;
	} */

	img {
		display: none;
	}

	.swoosh {
		height: 3000px;
		width: 1170px;
	}

	.title2 {
		margin-top: 220px;
		margin-right: 25vw;
		font-size: 70px;
	}

	.title {
		font-size: 110px;
		margin-left: 10px;
	}
	#block {
		margin-right: 25vw;
		margin-left: 400px;
	}
}
/* scroll stuff */

/*! locomotive-scroll v3.6.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden;
}

html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.has-scroll-smooth body {
	overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh;
}

.c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100%;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0;
}
.c-scrollbar:hover {
	transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
	opacity: 1;
}

.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
