@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");
.App {
	font-family: "Nunito", sans-serif;
	display: grid;
}

html,
body {
	overflow-x: hidden !important;
}

body {
	background-color: #33aa7c;
}
.swoosh {
	position: absolute;
	background-color: #242024;
	width: 60vw;
	height: 200vh;
	transform-origin: -10px -10px;
	transform: skewX(-30deg) scaleX(1.2);
	z-index: -2;
	max-height: 80vmax;
}

.title {
	z-index: 1;
	font-size: 160px;
	color: #33aa7c;
	margin-left: 2%;
	margin-top: 1%;
	margin-right: 40vw;
}

.title2 {
	z-index: 1;
	text-align: right;
	font-size: 160px;
	color: #242024;
	margin-right: 1vw;
	margin-top: 5%;
	font-weight: 700;
}

#projects {
	display: flex;
	flex-wrap: wrap;
	margin-top: -5%;
	max-width: 100%;
}

#block {
	text-align: right;
	margin-left: 50%;
	margin-right: 1vw;
	font-size: 35px;
	margin-top: -10vh;
}

/* On screens that are 992px or less, set the background color to blue */
@media only screen and (max-width: 600px) {
	html,
	Body {
		overflow-x: hidden;
		position: relative;
	}

	.title {
		font-size: 90px;
		margin-left: 6vw;
		margin-bottom: -10px;
	}

	.swoosh {
		height: 200vh;
		width: 170vw;
		max-height: 200%;
		overflow-x: hidden !important;
	}

	.title2 {
		visibility: hidden;
		display: none;
	}

	#block {
		float: center;
		text-align: center;
		font-size: 30px;
		margin-left: auto;
		padding: 6vw;
		margin-right: 20%;
		margin-top: 3vh;
		margin-bottom: 10vh;
	}

	#projects {
		float: left;
		margin-top: 0;
	}
}

/* On screens that are 600px or less, set the background color to olive */
@media only screen and (max-width: 1024px) and (min-width: 600px) {
	/* Body {
		background-color: olive;
	} */

	.swoosh {
		height: 150vh;
		width: 80vw;
		max-height: 200vmax;
	}

	.title2 {
		margin-top: 3%;
		margin-right: 8vw;
		font-size: 70px;
	}

	.title {
		font-size: 120px;
		margin-left: 10px;
	}
	#block {
		align-content: center;
		text-align: center;
		margin-top: -3vh;
		margin-left: 2vw;
		margin-right: 2vh;
		margin-bottom: 9vh;
		padding: 5vw;
		padding-top: 0;
	}
}

@media only screen and (max-width: 1950px) and (min-width: 1024px) {
	.swoosh {
		max-height: 130vmax;
	}
}
