.icon {
	color: #242024;
	height: 110px;
	width: 110px;
	margin: 50px;
}

.iconPack {
	margin-left: 89%;
	z-index: 7;
	position: absolute;
}

.icon:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
}

/* On screens that are 600px or less, set the background color to olive */
@media only screen and (max-width: 1024px) and (min-width: 600px) {
	.icon {
		color: #33aa7c;
	}

	.iconPack {
		margin-top: 1600px;
		margin-left: -25px;
		margin-right: 500px;
	}
}
