.element {
	padding: 20px;
	background-color: white;
	opacity: 0.9;
	width: 400px;
	border-radius: 25px;
	margin-left: 3%;
	margin-top: 2%;
	z-index: 0;
}

.element p {
	margin-top: -5px;
	font-size: 22px;
}

.element h1 {
	margin-top: 0;
	margin-bottom: 0px;
	font-size: 50px;
}

.underline {
	display: flex;
}

.element h2 {
	font-weight: 700 !important;
	font-size: 35px;
	margin: 5px;
}

#ghIcon {
	height: 50px;
	width: 50px;
	margin-left: auto;
	margin-top: 10px;
}

#ghIcon:hover {
	transform: scale(1.1);
}
