.element{
    padding:20px;
    background-color: white ;
    opacity: .9;
    width: 400px;
    border-radius: 25px;
    margin-left: 3%;
    margin-top: 2%;
    z-Index:0;
}

.element p{
    margin-top:-13px;
    font-size:18px
}

.element h1{
    margin-top:0;
    margin-bottom: 0px;
    font-size: 50px;
    
}

.underline{
    display: flex;
  }

#ghIcon{
    height:50px; 
    width:50px; 
    margin-left:auto; 
    margin-top:10px;
}

#ghIcon:hover{
    transform: scale(1.1);
}