
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');
.App {
  font-family: 'Nunito', sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#wave {
  grid-column: 0/3 ;
  border: #282c34 2px solid;
  transform: skewY(-40deg);
  height: 3000px;
  width: 3000px;
  background: #9f49e6;
  z-index: -1;
}

.heading{
  grid-column: 1/3;
  border: #282c34 2px solid;
  font-size: 200px;
  font-weight: 700;
  margin-left: .5em;
  margin-top: 1em;
}


