.element{
    padding:.5%;
    background-color: white;
    width: 320px;
    border-radius: 25px;
    margin: 2%;
}

.element p{
    margin-top:-13px;
    font-size:18px
}

.element h1{
    margin-top:0;
    margin-bottom: 0px;
    font-size: 50px;
    
}

.underline{
    display: flex;
  }